/* @keyframes,animation-name, animation-duration, animation-delay ,  
animation-iteration-count , animation-direction, animation-timing-function*/


/*  animation-name - անիմացիայի անուն */
/*  animation-duration - անիմացիայի տևողություն */


.animation-name{
  width: 100px;
  height: 100px;
  background: red;
  animation-name: ex;
  animation-duration: 4s;
  
}
 /* @keyframes  */
@keyframes ex {
    from{
        background-color: red;
    }
    to{
        background-color: blueviolet;
    }
}


.animation2{
    width: 100px;
    height: 100px;
    background: rgb(81, 57, 201);
    animation-name: example;
    animation-duration: 4s;
  }

  @keyframes example{
    0%{
        background-color: rgb(81, 57, 201);
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: burlywood;
    }
  }

  /* animation-delay - սպասման ժամկետը */

.animation3{
    width: 100px;
    height: 100px;
    animation-name: examples;
    animation-duration: 4s;
    animation-delay: 3s;
    position: relative;
  }

  @keyframes examples{

        0%   {
            background-color:rgb(81, 57, 201);
             left:0px; 
             top:0px;
            }
        25%  {
            background-color:yellow; 
            left:200px; 
            top:0px;}
        50%  {
            background-color:blue;
             left:200px; 
             top:200px;}
        75%  {
            background-color:green;
             left:0px; 
             top:200px;}
        100% {
            background-color:red; 
            left:0px; 
            top:0px;}
      }
    
    
    
  /* animation-iteration-count - քնի անգամ կրկնվի անիմացիան, օրինակում -  3 անգամ,  */


.animation4{
    width: 100px;
    height: 100px;
    animation-name: ee;
    animation-duration: 4s;
    animation-iteration-count: 3;
    position: relative;
  }

  @keyframes ee{

        0%   {
            background-color:red;
             left:0px; 
             top:0px;
            }
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }


/*  animation-iteration-count  - infinite -- անվերջ կրկնվի      */

.animation5{
    width: 100px;
    height: 100px;
    background: red;
    animation-name: xx;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
  }

  @keyframes xx{

        0%   {
            background-color:red;
             left:0px; 
             top:0px;
            }
        25%  {
            background-color:yellow; 
            left:200px;
             top:0px;
            }
        50%  {
            background-color:blue; 
            left:200px;
             top:200px;
            }
        75%  {
            background-color:green;
             left:0px;
              top:200px;
            }
        100% {
            background-color:red;
             left:0px; 
             top:0px;
            }
      }

/* animation-direction - անիմատիայի ուղղությունը /նախնական թե հակառակ / նակնական և հակառակ */

.animation6{
    width: 100px;
    height: 100px;
    background: rgb(81, 57, 201);
    animation-name: yy;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    position: relative;
  }

  @keyframes yy{
        0%   {background-color:red;left:0px;top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }
 
   
      /* animation-timing-function */

div{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: blueviolet;
    margin: 5px;
    animation:animate 4s infinite;
}
@keyframes animate {
 from{
    left:0px;
}
 to{
    left:500px;
 }
}
.div1{
    animation-timing-function: linear;
}
.div2{
    animation-timing-function: ease;
}
.div3{
    animation-timing-function: ease-in;
}
.div4{
    animation-timing-function: ease-out;
}
.div5{
    animation-timing-function: ease-in-out;
}

    
    
  


